@import "variables";

.main-container {
    // background-color: #f5f5f7 !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-red {
    color: #ff4d4f !important;
}