PORT=
NODE_ENV=development
URL_REACT=http://localhost:3000
#URL_REACT=http://192.168.0.104:3000
MAX_NUMBER_SCHEDULE=10
#NGROK 
 npx ngrok http 
#EMAIL
EMAIL_APP_PASSWORD=
EMAIL_APP=

# PayOS Configuration
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
# Ngrok Authtoken (Dùng để chạy lệnh npx ngrok config add-authtoken)
AUTH_TOKEN_NGROK=


# JWT key 
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
#CLOUDINARY

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY_NAME= 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

#OPENAI KEY
AI_API_KEY=

#Google Gemini API KEY
GOOGLE_API_KEY=
GOOGLE_MODEL_NAME=gemini-robotics-er-1.6-preview

#gemma-4-31b-it
#gemma-4-26b-a4b-it